.imageContainer {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageContainer:hover .image {
  transform: scale(1.1);
}
